.primary-button{
    padding: 8px 22px;
    background: var(--button);
    border: none;
    color: white;
}

.secondary-button{
    padding: 8px 22px;
    background: var(--dark-grey);
    border: none;
    color: white;
}