.input__container{
    border-bottom: 2px solid var(--background);
    padding: 0 12px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 530px) {
        width: 100%;
    }
    input{
        width: 100%;
        padding: 12px 0;
        border: none;
        outline: none;
    }
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

select{
    background-color: #fff;
    padding: 5px;
}