.input__container{
    width: 400px;
    text-align: left;
    @media (max-width: 530px) {
        width: 100%;
    }
    .container{
        &__box{
            padding: 0 12px;
            border-bottom: 2px solid var(--background);
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                width: 100%;
                padding: 12px 0;
                border: none;
                outline: none;
            }
        }
        &__error{
            color: red;
            margin-top: 8px;
            padding: 0 12px;
            p::before{
                content: '**';
            }
        }
    }
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

select{
    background-color: #fff;
    padding: 5px;
}