.top-bar{
    position: fixed;
    z-index: 10;
    width: 100%;
    transform: translateY(-83px);
    border-bottom: 1px solid var(--background);
    &__gradient{
        height: 5px;
        // width: 100vw;
        background: var(--gradient);
    }
    &__navigation{
        padding: 20px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navigation{
            &__title{
                font-size: 24px;
                color: var(--background);
                @media (max-width: 426px) {
                    font-size: 20px !important;
                }
            }
            &__items{
                display: flex;
                gap: 30px;
                .items__single-item{
                    position: relative;
                    margin-top: 12px;
                    transition: .3s all;
                    cursor: pointer;
                    .single-item__dropdown{
                        background-color: #fff;
                        position: absolute;
                        top: 35px;
                        right: 0;
                        width: 200px;
                        opacity: 0;
                        box-shadow: 3px 4px 21px 0px hsla(0, 0%, 0%, 0.3);
                        transition: .3s all;
                        pointer-events: none;
                        .dropdown__item{
                            padding: 15px 20px;
                            position: relative;
                            transition: .3s all;
                            .item__icon{
                                *{
                                    fill: black;
                                }
                            }
                            &:hover{
                                background-color: hsla(210, 41%, 92%, 1);
                                cursor: pointer;
                                &::before{
                                    content: '';
                                    background-color: var(--background);
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    width: 5px;
                                }
                                .item__icon{
                                    *{
                                        fill: var(--background);
                                    }
                                }
                            }
                            &--border{
                                border-top: 2px solid hsla(210, 41%, 92%, 1);
                            }
                        }
                        &::before{
                            content: '';
                            width: 0; 
                            height: 0; 
                            border-left: 14px solid transparent;
                            border-right: 14px solid transparent;                            
                            border-bottom: 14px solid #fff;
                            position: absolute;
                            right: 0;
                            top: -15px;
                        }
                    }
                    &:hover{
                        .single-item__dropdown{
                            opacity: 1;
                            top: 40px;
                            pointer-events: all;
                        }
                    }
                    &:first-child{
                        transform: translateY(2px);
                    }
                }
            }
        }
    }
    &--auth-top{
        margin-top: unset !important;
        .top-bar__navigation{
            @media (max-width: 426px) {
                padding: 60px 0;
                justify-content: center;
                background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)),url('/assets/images/bg.jpg');
                .navigation__title{
                    color: white;
                }
            }
        }
    }
}