:root {
  --button: #3C64B1;
  --gradient: linear-gradient(138.43deg, #000629 3.73%, #084C8B 97.23%);
  --grad-1: linear-gradient(335.58deg, #0094FF -6.95%, #014D84 103.92%);
  --background: #052F62;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input__container {
  border-bottom: 2px solid var(--background);
  padding: 0 12px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 426px) {
  .input__container {
    width: 280px;
  }
}

.input__container input {
  width: 100%;
  padding: 12px 0;
  border: none;
  outline: none;
}

.primary-button {
  padding: 8px 22px;
  background: var(--button);
  border: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@media (max-width: 426px) {
  * {
    font-size: 12px;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.login__left-column, .login__right-column {
  padding: 20px;
}

.login__left-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
}

.login__left-column .left-column__title {
  font-size: 34px;
  color: #fff;
}

@media (max-width: 426px) {
  .login__left-column .left-column__title {
    font-size: 20px;
  }
}

.login__right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__right-column .right-column__title {
  color: var(--background);
  font-size: 28px;
  margin-bottom: 30px;
}

@media (max-width: 426px) {
  .login__right-column .right-column__title {
    font-size: 18px;
  }
}

.login__right-column .right-column__form .form__fp {
  color: var(--background);
  font-weight: 700;
}

@media (max-width: 426px) {
  .login__right-column {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (max-width: 426px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=global.css.map */