:root {
  --button: #3C64B1;
  --gradient: linear-gradient(138.43deg, #000629 3.73%, #084C8B 97.23%);
  --grad-1: linear-gradient(335.58deg, #0094FF -6.95%, #014D84 103.92%);
  --background: #052F62;
  --dark-grey: hsla(192, 4%, 47%, 1);
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@media (max-width: 426px) {
  * {
    font-size: 12px !important;
  }
}

.input__container {
  width: 400px;
  text-align: left;
}

@media (max-width: 530px) {
  .input__container {
    width: 100%;
  }
}

.input__container .container__box {
  padding: 0 12px;
  border-bottom: 2px solid var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__container .container__box input {
  width: 100%;
  padding: 12px 0;
  border: none;
  outline: none;
}

.input__container .container__error {
  color: red;
  margin-top: 8px;
  padding: 0 12px;
}

.input__container .container__error p::before {
  content: '**';
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

select {
  background-color: #fff;
  padding: 5px;
}

.primary-button {
  padding: 8px 22px;
  background: #07437E;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.primary-button:hover {
  background-color: #043363;
}

.secondary-button {
  padding: 8px 22px;
  background: var(--dark-grey);
  border: none;
  color: white;
}

.top-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transform: translateY(-83px);
          transform: translateY(-83px);
  border-bottom: 1px solid var(--background);
}

.top-bar__gradient {
  height: 5px;
  background: var(--gradient);
}

.top-bar__navigation {
  padding: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-bar__navigation .navigation__title {
  font-size: 24px;
  color: var(--background);
}

@media (max-width: 426px) {
  .top-bar__navigation .navigation__title {
    font-size: 20px !important;
  }
}

.top-bar__navigation .navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.top-bar__navigation .navigation__items .items__single-item {
  position: relative;
  margin-top: 12px;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown {
  background-color: #fff;
  position: absolute;
  top: 35px;
  right: 0;
  width: 200px;
  opacity: 0;
  -webkit-box-shadow: 3px 4px 21px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 21px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s all;
  transition: .3s all;
  pointer-events: none;
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown .dropdown__item {
  padding: 15px 20px;
  position: relative;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown .dropdown__item .item__icon * {
  fill: black;
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown .dropdown__item:hover {
  background-color: #e2ebf3;
  cursor: pointer;
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown .dropdown__item:hover::before {
  content: '';
  background-color: var(--background);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown .dropdown__item:hover .item__icon * {
  fill: var(--background);
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown .dropdown__item--border {
  border-top: 2px solid #e2ebf3;
}

.top-bar__navigation .navigation__items .items__single-item .single-item__dropdown::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
  position: absolute;
  right: 0;
  top: -15px;
}

.top-bar__navigation .navigation__items .items__single-item:hover .single-item__dropdown {
  opacity: 1;
  top: 40px;
  pointer-events: all;
}

.top-bar__navigation .navigation__items .items__single-item:first-child {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.top-bar--auth-top {
  margin-top: unset !important;
}

@media (max-width: 426px) {
  .top-bar--auth-top .top-bar__navigation {
    padding: 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
    background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  }
  .top-bar--auth-top .top-bar__navigation .navigation__title {
    color: white;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  margin-top: -73px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.modal__box {
  background: white;
  padding: 50px;
  position: relative;
}

.modal__box .box__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__box .box__title {
  font-size: 28px;
  color: var(--background);
  margin-top: 15px;
}

@media (max-width: 426px) {
  .modal__box .box__title {
    font-size: 18px !important;
    position: absolute;
    top: 15px;
    left: 15px;
    margin-top: 0px;
  }
}

.modal__box .box__form {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  margin-top: 30px;
}

@media (max-width: 476px) {
  .modal__box .box__form {
    margin-top: 10px;
  }
}

.modal__box .box__form .form__user-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__box .box__form .form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal__delete {
  text-align: center;
}

.footer {
  padding: 20px;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer p {
  font-size: 18px;
}

@media (min-width: 500px) {
  .footer--hidden {
    display: none;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--background);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--background);
          box-shadow: 0 0 1px var(--background);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pagination {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.pagination__container {
  padding: 8px 15px;
  -webkit-box-shadow: 3px 4px 21px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 3px 4px 21px 0px rgba(0, 0, 0, 0.12);
}

.pagination__container > * {
  padding: 8px 12px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 4px;
  color: #a1a1a1;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.pagination__container > *:hover {
  background-color: #e2ebf3;
  color: black;
}

.pagination__container .container__right * {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__container .container__index--active {
  background-color: var(--background);
  color: white;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.login__left-column, .login__right-column {
  padding: 20px;
}

.login__left-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
}

.login__left-column .left-column__title {
  font-size: 34px;
  color: #fff;
}

@media (max-width: 426px) {
  .login__left-column .left-column__title {
    font-size: 20px;
  }
}

.login__right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__right-column .right-column__title {
  color: var(--background);
  font-size: 28px;
  margin-bottom: 30px;
}

@media (max-width: 426px) {
  .login__right-column .right-column__title {
    font-size: 18px;
  }
}

.login__right-column .right-column__form .form__fp {
  color: var(--background);
  font-weight: 700;
}

@media (max-width: 426px) {
  .login__right-column {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (max-width: 426px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.forgot-password {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.forgot-password__container {
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
  text-align: center;
  max-width: 400px;
  margin: 0 20px;
}

.forgot-password__container .container__title {
  font-size: 28px;
  color: var(--background);
}

.forgot-password__container .container__description {
  font-size: 14px;
  color: var(--dark-grey);
}

.forgot-password__container .input__container {
  width: 100%;
}

@media (max-width: 426px) {
  .forgot-password {
    background: #fff;
  }
  .forgot-password__container {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

@media (min-width: 426px) {
  .forgot-password .form__buttons {
    text-align: right;
  }
}

.reset-password {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.reset-password__container {
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
  text-align: center;
  width: 400px;
  margin: 0 20px;
}

@media (max-width: 426px) {
  .reset-password__container {
    max-width: 280px;
  }
}

.reset-password__container .container__title {
  font-size: 28px;
  color: var(--background);
}

@media (max-width: 426px) {
  .reset-password__container .container__title {
    font-size: 20px;
  }
}

.reset-password__container .container__description {
  font-size: 14px;
  color: var(--dark-grey);
}

@media (max-width: 426px) {
  .reset-password__container .container__description {
    font-size: 12px;
  }
}

.reset-password__container .input__container {
  width: 100%;
}

@media (max-width: 426px) {
  .reset-password {
    background: #fff;
  }
  .reset-password__container {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

@media (min-width: 426px) {
  .reset-password .form__buttons {
    text-align: right;
  }
}

.users {
  margin-top: 73px;
  padding: 20px 0;
}

.users__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.users__header .header__title {
  font-size: 28px;
  color: var(--background);
}

.users__header .header__input {
  width: 300px;
}

.users__header .header__second-input {
  display: none;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 426px) {
  .users__header .header__input {
    display: none;
  }
  .users__header .header__second-input {
    display: block;
  }
}

.users__contents {
  margin-top: 20px;
}

.users__contents .contents__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

@media (min-width: 426px) {
  .users__contents .contents__header {
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
  }
}

.users__contents .contents__header .header__total {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.users__contents .contents__header .header__name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__header .header__email {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__header .header__phone {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__header .header__type {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__header .header__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 426px) {
  .users__contents .contents__header .header__name, .users__contents .contents__header .header__email, .users__contents .contents__header .header__phone, .users__contents .contents__header .header__type, .users__contents .contents__header .header__icons {
    display: none;
  }
}

.users__contents .contents__desktop {
  min-height: 40vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.users__contents .contents__desktop .desktop__table {
  width: 100%;
}

.users__contents .contents__desktop .desktop__table .table__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.users__contents .contents__desktop .desktop__table .table__data .data__check {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.users__contents .contents__desktop .desktop__table .table__data .data__name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__desktop .desktop__table .table__data .data__email {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__desktop .desktop__table .table__data .data__phone {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__desktop .desktop__table .table__data .data__type {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.users__contents .contents__desktop .desktop__table .table__data .data__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.users__contents .contents__desktop .desktop__table .table__data .data__icons > *:first-child {
  margin-right: 20px;
}

.users__contents .contents__desktop .desktop__table .table__data:nth-child(even) {
  background: #e2ebf3;
}

.users__contents .contents__desktop .desktop__empty {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 20px;
}

.users__contents .contents__desktop .desktop__empty img {
  height: 300px;
}

.users__contents .contents__desktop .desktop__empty p {
  font-size: 16px;
  color: #a1a1a1;
}

@media (max-width: 426px) {
  .users__contents .contents__desktop {
    display: none;
  }
}

@media (min-width: 426px) {
  .users__contents .contents__mobile {
    display: none;
  }
}

.users__contents .contents__mobile .mobile__table {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.users__contents .contents__mobile .mobile__table .table__data {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
}

.users__contents .contents__mobile .mobile__table .table__data .data__details * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users__contents .contents__mobile .mobile__table .table__data .data__details *:first-child {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

.users__contents .contents__mobile .mobile__table .table__data .data__details *:last-child {
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
}

.users__contents .contents__mobile .mobile__table .table__data .data__icons > *:first-child {
  margin-right: 10px;
}

.users__contents .contents__mobile .mobile__table .table__data:nth-child(even) {
  background: #e2ebf3;
}

.users__delete {
  margin: 20px;
}

.settings {
  margin-top: 73px;
  padding: 20px 0;
}

.settings__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.settings__header .header__title {
  font-size: 28px;
  color: var(--background);
}

.settings__header .header__input {
  width: 300px;
}

.settings__header .header__frequency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

@media (max-width: 426px) {
  .settings__header .header__frequency {
    position: absolute;
    bottom: -60px;
    right: 20px;
  }
  .settings__header .header__frequency p {
    display: none;
  }
}

.settings__header .header__second-input {
  display: none;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 426px) {
  .settings__header .header__input {
    display: none;
  }
  .settings__header .header__second-input {
    display: block;
  }
}

.settings__contents {
  margin-top: 20px;
}

.settings__contents .contents__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.settings__contents .contents__header > * {
  display: none;
}

@media (min-width: 426px) {
  .settings__contents .contents__header {
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
  }
  .settings__contents .contents__header > * {
    display: block;
  }
}

.settings__contents .contents__header .header__total {
  margin-right: 20px;
  display: block;
}

@media (min-width: 426px) {
  .settings__contents .contents__header .header__traffic-intensity {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .settings__contents .contents__header .header__notifications {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .settings__contents .contents__header .header__frequency {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .settings__contents .contents__header .header__traffic-area {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .settings__contents .contents__header .header__search-traffic {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .settings__contents .contents__header .header__users {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .settings__contents .contents__header .header__icons {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.settings__contents .contents__desktop .desktop__table .table__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__check {
  margin-right: 20px;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__traffic-intensity {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__notifications {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__frequency {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__traffic-area {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__search-traffic {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__users {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.settings__contents .contents__desktop .desktop__table .table__data .data__icons > *:first-child {
  margin-right: 20px;
}

.settings__contents .contents__desktop .desktop__table .table__data:nth-child(even) {
  background: #e2ebf3;
}

@media (max-width: 426px) {
  .settings__contents .contents__desktop {
    display: none;
  }
}

@media (min-width: 426px) {
  .settings__contents .contents__mobile {
    display: none;
  }
}

.settings__contents .contents__mobile .mobile__table {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.settings__contents .contents__mobile .mobile__table .table__data {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
  position: relative;
}

.settings__contents .contents__mobile .mobile__table .table__data .data__details > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings__contents .contents__mobile .mobile__table .table__data .data__details * {
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__contents .contents__mobile .mobile__table .table__data .data__details *:first-child {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.settings__contents .contents__mobile .mobile__table .table__data .data__details *:last-child {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.settings__contents .contents__mobile .mobile__table .table__data .data__icons {
  position: absolute;
  right: 20px;
}

.settings__contents .contents__mobile .mobile__table .table__data .data__icons > *:first-child {
  margin-right: 10px;
}

.settings__contents .contents__mobile .mobile__table .table__data:nth-child(even) {
  background: #e2ebf3;
}

.settings__delete {
  margin: 20px;
}

.personal-settings {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 73px;
}

@media (min-width: 500px) {
  .personal-settings {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

@media (max-width: 500px) {
  .personal-settings {
    height: 80vh;
  }
}

.personal-settings__container {
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
  width: 500px;
}

@media (max-width: 500px) {
  .personal-settings__container {
    width: 100%;
    padding: 20px;
    height: 100%;
  }
}

@media (min-width: 500px) {
  .personal-settings__container {
    text-align: center;
  }
}

.personal-settings__container .container__title {
  font-size: 28px;
  color: var(--background);
}

@media (max-width: 426px) {
  .personal-settings__container .container__title {
    font-size: 20px !important;
  }
}

.personal-settings__container .container__form .form__item {
  gap: 20px;
}

.personal-settings__container .container__form .form__item > p {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

@media (min-width: 500px) {
  .personal-settings__container .container__form .form__item > p {
    text-align: right;
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
}

.personal-settings__container .container__form .form__item > div {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

.personal-settings__container .container__form .form__button {
  text-align: center;
}

@media (min-width: 500px) {
  .personal-settings__container .container__form .form__button {
    text-align: right;
  }
}

.personal-settings__container .input__container {
  width: 100%;
}

@media (max-width: 426px) {
  .personal-settings {
    background: #fff;
  }
  .personal-settings__container {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

.landing-page {
  margin-top: 83px;
}

.landing-page__map {
  background-color: #ececec;
  min-height: 75vh;
  position: relative;
}

.landing-page__map .map__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.landing-page__map .map__btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.landing-page__map .map__btn--hide {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
  pointer-events: none;
}

.landing-page__map .map__traffic-point {
  padding: 20px;
  background-color: white;
  position: absolute;
  height: 100%;
  width: 300px;
  -webkit-box-shadow: 4px 3px 11px 0px #0000001A;
          box-shadow: 4px 3px 11px 0px #0000001A;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

@media (max-width: 428px) {
  .landing-page__map .map__traffic-point {
    height: unset;
    width: 100%;
    bottom: 0;
  }
}

.landing-page__map .map__traffic-point--show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.landing-page__map .map__traffic-point h2 {
  margin-top: 20px;
  font-size: 24px;
  color: var(--background);
}

.landing-page__map .map__traffic-point .traffic-point__close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: var(--background);
}

.landing-page__map .map__traffic-point .traffic-point__form {
  margin-top: 20px;
  position: relative;
  height: 100%;
}

@media (max-width: 428px) {
  .landing-page__map .map__traffic-point .traffic-point__form {
    text-align: center;
  }
}

.landing-page__map .map__traffic-point .traffic-point__form .input__container {
  width: 100% !important;
}

.landing-page__map .map__traffic-point .traffic-point__form .form__points {
  margin-top: 12px;
  margin-bottom: 12px;
}

.landing-page__map .map__traffic-point .traffic-point__form .form__btn {
  width: 100%;
  position: absolute;
  bottom: 70px;
  margin-top: 20px;
}

@media (max-width: 428px) {
  .landing-page__map .map__traffic-point .traffic-point__form .form__btn {
    position: unset;
    width: unset;
  }
}

.landing-page__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.landing-page__legend .legend__section {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(190px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.landing-page__legend .legend__section .section__single-legend .single-legend__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.landing-page__legend .legend__section .section__single-legend .single-legend__details .details__color {
  padding: 15px;
  background-color: var(--color);
  border-radius: 50%;
}

.traffic-points {
  margin-top: 73px;
  padding: 20px 0;
}

.traffic-points__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.traffic-points__header .header__title {
  font-size: 28px;
  color: var(--background);
}

.traffic-points__header .header__input {
  width: 300px;
}

.traffic-points__header .header__second-input {
  display: none;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 426px) {
  .traffic-points__header .header__input {
    display: none;
  }
  .traffic-points__header .header__second-input {
    display: block;
  }
}

.traffic-points__map {
  height: 60vh;
  background-color: #a1a1a1;
}

.traffic-points__contents {
  margin-top: 20px;
}

.traffic-points__contents .contents__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

@media (min-width: 426px) {
  .traffic-points__contents .contents__header {
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
  }
}

.traffic-points__contents .contents__header .header__total {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.traffic-points__contents .contents__header .header__name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__header .header__email {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__header .header__phone {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__header .header__type {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__header .header__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 426px) {
  .traffic-points__contents .contents__header .header__name, .traffic-points__contents .contents__header .header__email, .traffic-points__contents .contents__header .header__phone, .traffic-points__contents .contents__header .header__type, .traffic-points__contents .contents__header .header__icons {
    display: none;
  }
}

.traffic-points__contents .contents__desktop {
  min-height: 40vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.traffic-points__contents .contents__desktop .desktop__table {
  width: 100%;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data .data__check {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data .data__name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data .data__email {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data .data__phone {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data .data__type {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data .data__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data .data__icons > *:first-child {
  margin-right: 20px;
}

.traffic-points__contents .contents__desktop .desktop__table .table__data:nth-child(even) {
  background: #e2ebf3;
}

.traffic-points__contents .contents__desktop .desktop__empty {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 20px;
}

.traffic-points__contents .contents__desktop .desktop__empty img {
  height: 300px;
}

.traffic-points__contents .contents__desktop .desktop__empty p {
  font-size: 16px;
  color: #a1a1a1;
}

@media (max-width: 426px) {
  .traffic-points__contents .contents__desktop {
    display: none;
  }
}

@media (min-width: 426px) {
  .traffic-points__contents .contents__mobile {
    display: none;
  }
}

.traffic-points__contents .contents__mobile .mobile__table {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.traffic-points__contents .contents__mobile .mobile__table .table__data {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.07);
}

.traffic-points__contents .contents__mobile .mobile__table .table__data .data__details * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traffic-points__contents .contents__mobile .mobile__table .table__data .data__details *:first-child {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

.traffic-points__contents .contents__mobile .mobile__table .table__data .data__details *:last-child {
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
}

.traffic-points__contents .contents__mobile .mobile__table .table__data .data__icons > *:first-child {
  margin-right: 10px;
}

.traffic-points__contents .contents__mobile .mobile__table .table__data:nth-child(even) {
  background: #e2ebf3;
}

.traffic-points__delete {
  margin: 20px;
}
/*# sourceMappingURL=global.css.map */