:root {
  --button: #3C64B1;
  --gradient: linear-gradient(138.43deg, #000629 3.73%, #084C8B 97.23%);
  --grad-1: linear-gradient(335.58deg, #0094FF -6.95%, #014D84 103.92%);
  --background: #052F62;
  --dark-grey: hsla(192, 4%, 47%, 1);
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input__container {
  border-bottom: 2px solid var(--background);
  padding: 0 12px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 426px) {
  .input__container {
    width: 280px;
  }
}

.input__container input {
  width: 100%;
  padding: 12px 0;
  border: none;
  outline: none;
}

.primary-button {
  padding: 8px 22px;
  background: var(--button);
  border: none;
  color: white;
}

.secondary-button {
  padding: 8px 22px;
  background: var(--dark-grey);
  border: none;
  color: white;
}

.top-bar {
  position: fixed;
}

.top-bar__gradient {
  height: 5px;
  width: 100vw;
  background: var(--gradient);
}

.top-bar__navigation {
  padding: 20px;
  background-color: #fff;
}

.top-bar__navigation .navigation__title {
  font-size: 24px;
  color: var(--background);
}

@media (max-width: 426px) {
  .top-bar__navigation .navigation__title {
    font-size: 20px;
    color: white;
  }
}

@media (max-width: 426px) {
  .top-bar__navigation {
    padding: 60px 0;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
    background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@media (max-width: 426px) {
  * {
    font-size: 12px;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.login__left-column, .login__right-column {
  padding: 20px;
}

.login__left-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
}

.login__left-column .left-column__title {
  font-size: 34px;
  color: #fff;
}

@media (max-width: 426px) {
  .login__left-column .left-column__title {
    font-size: 20px;
  }
}

.login__right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__right-column .right-column__title {
  color: var(--background);
  font-size: 28px;
  margin-bottom: 30px;
}

@media (max-width: 426px) {
  .login__right-column .right-column__title {
    font-size: 18px;
  }
}

.login__right-column .right-column__form .form__fp {
  color: var(--background);
  font-weight: 700;
}

@media (max-width: 426px) {
  .login__right-column {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (max-width: 426px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.forgot-password {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.forgot-password__container {
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
  text-align: center;
  max-width: 400px;
  margin: 0 20px;
}

.forgot-password__container .container__title {
  font-size: 28px;
  color: var(--background);
}

.forgot-password__container .container__description {
  font-size: 14px;
  color: var(--dark-grey);
}

.forgot-password__container .input__container {
  width: 100%;
}

@media (max-width: 426px) {
  .forgot-password {
    background: #fff;
  }
  .forgot-password__container {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

.reset-password {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 47, 98, 0.8)), to(rgba(5, 47, 98, 0.8))), url("/assets/images/bg.jpg");
  background: linear-gradient(to bottom, rgba(5, 47, 98, 0.8), rgba(5, 47, 98, 0.8)), url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.reset-password__container {
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.35);
  text-align: center;
  width: 400px;
  margin: 0 20px;
}

@media (max-width: 426px) {
  .reset-password__container {
    max-width: 280px;
  }
}

.reset-password__container .container__title {
  font-size: 28px;
  color: var(--background);
}

@media (max-width: 426px) {
  .reset-password__container .container__title {
    font-size: 20px;
  }
}

.reset-password__container .container__description {
  font-size: 14px;
  color: var(--dark-grey);
}

@media (max-width: 426px) {
  .reset-password__container .container__description {
    font-size: 12px;
  }
}

.reset-password__container .input__container {
  width: 100%;
}

@media (max-width: 426px) {
  .reset-password {
    background: #fff;
  }
  .reset-password__container {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}
/*# sourceMappingURL=global.css.map */