.landing-page{
    margin-top: 83px;
    & > div{
        padding: 20px;
    }
    &__map{
        background-color: rgb(236, 236, 236);
        min-height: 65vh;
    }
    &__legend{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .legend__section{
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
            .section__single-legend{
                .single-legend__details{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .details{
                        &__color{
                            padding: 15px;
                            background-color: var(--color);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}